{% extends "base.html" %}


{% block session_button %}
<li><a href="/logout">Logout</a></li>
{% endblock session_button %}


{% block main %}

<div class="jumbotron">
  <h1>Just a Simple Blog.</h1>
  <p class="lead">Create a new post or view an existing post.</p>
  <p>
    <form method="POST">
	<label for="Title">Title: </label>
	<input class="form-control" type="text" id="Title" name="new_title" placeholder="Title goes here..."></input> <br><br>
	<textarea class="form-control" name="new_post" rows="8" placeholder="Enter your text here..."></textarea> <br><br>
	<button type="submit">Post</button>
</form>
  </p>
</div>



{% for post in post_list %}
<ul>
	<li><a href={{post[0]}}>{{post[1]}}</a></li>
</ul>
{% endfor %}



{% endblock main %}
